NODE-RED/face-reco-clipboard
[
    {
        "id": "6320424a.8ee1ec",
        "type": "exec",
        "z": "187bae60.f7d6a2",
        "command": "curl \"192.168.1.3:8080/photo.jpg\" >photo.jpg",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "5",
        "oldrc": false,
        "name": "Save snapshot onto local directory from local ip camera",
        "x": 614.2333068847656,
        "y": 51.90476131439209,
        "wires": [
            [
                "365b7ec2.ac1b52"
            ],
            [],
            []
        ]
    },
    {
        "id": "365b7ec2.ac1b52",
        "type": "file in",
        "z": "187bae60.f7d6a2",
        "name": "Snapshot obtained from IP-Camera in \"~/.node-red\" directory",
        "filename": "photo.jpg",
        "format": "",
        "sendError": true,
        "x": 1088.4555053710938,
        "y": 55.97221517562866,
        "wires": [
            [
                "f775b9c2.3f0318"
            ]
        ]
    },
    {
        "id": "f775b9c2.3f0318",
        "type": "switch",
        "z": "187bae60.f7d6a2",
        "name": "Is this a valid photo (It checks the downloaded file from camera running on local IP)",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 618.9000244140625,
        "y": 149.66662216186523,
        "wires": [
            [
                "a0850235.814df"
            ],
            [
                "995d4a16.7deb38"
            ]
        ]
    },
    {
        "id": "a0850235.814df",
        "type": "template",
        "z": "187bae60.f7d6a2",
        "name": "Camera not working",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Camera not working",
        "x": 1237.5666580200195,
        "y": 108.99997520446777,
        "wires": [
            [
                "75f23d2c.9422b4"
            ]
        ]
    },
    {
        "id": "995d4a16.7deb38",
        "type": "visual-recognition-v3",
        "z": "187bae60.f7d6a2",
        "name": "Analyze the image and sends details",
        "apikey": "Uxl-8T0PZOs7n03GLqAh9HB8xtgGHAgslO_sbUM84Tdt",
        "vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
        "image-feature": "detectFaces",
        "lang": "en",
        "x": 1143.3333129882812,
        "y": 199.66662216186523,
        "wires": [
            [
                "67571f66.94a1b",
                "75f23d2c.9422b4"
            ]
        ]
    },
    {
        "id": "ad1bb2aa.2423",
        "type": "e-mail",
        "z": "187bae60.f7d6a2",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "bakergreyinterns@gmail.com",
        "dname": "Email Service",
        "x": 835.1500091552734,
        "y": 685.9524402618408,
        "wires": []
    },
    {
        "id": "9299bf01.67e2f",
        "type": "file in",
        "z": "187bae60.f7d6a2",
        "name": "Snapshot photo ",
        "filename": "photo.jpg",
        "format": "",
        "x": 359.81668853759766,
        "y": 459.6667594909668,
        "wires": [
            [
                "4e87a338.d27dfc",
                "1dc056d0.218449"
            ]
        ]
    },
    {
        "id": "234c6c7f.b747e4",
        "type": "file in",
        "z": "187bae60.f7d6a2",
        "name": "Snapshot photo",
        "filename": "photo.jpg",
        "format": "",
        "x": 609.7333526611328,
        "y": 304.7501173019409,
        "wires": [
            [
                "1161e6f8.3280b9",
                "86711e7c.795b5"
            ]
        ]
    },
    {
        "id": "1161e6f8.3280b9",
        "type": "function",
        "z": "187bae60.f7d6a2",
        "name": "Email-subject: Someone has arrived",
        "func": "\nmsg.topic=\"Someone has arrived\"\nmsg.filename=new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '')+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 685.8166198730469,
        "y": 577.6667108535767,
        "wires": [
            [
                "ad1bb2aa.2423"
            ]
        ]
    },
    {
        "id": "4e87a338.d27dfc",
        "type": "function",
        "z": "187bae60.f7d6a2",
        "name": "Email-Subject: Activity is detected",
        "func": "msg.topic=\"Something is moving\"\nmsg.filename=new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '')+\".jpg\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 377.6666717529297,
        "y": 680.0832958221436,
        "wires": [
            [
                "ad1bb2aa.2423"
            ]
        ]
    },
    {
        "id": "fadf5b0.874b1a8",
        "type": "switch",
        "z": "187bae60.f7d6a2",
        "name": "Detected motion?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 1,
        "x": 112.41665649414062,
        "y": 53.33332061767578,
        "wires": [
            [
                "f139d0a0.323ad"
            ]
        ]
    },
    {
        "id": "9d531146.653f3",
        "type": "rpi-gpio in",
        "z": "187bae60.f7d6a2",
        "name": "PIR INPUT ON 11",
        "pin": "11",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 95,
        "y": 120.66665649414062,
        "wires": [
            [
                "fadf5b0.874b1a8"
            ]
        ]
    },
    {
        "id": "f139d0a0.323ad",
        "type": "delay",
        "z": "187bae60.f7d6a2",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 293.99998474121094,
        "y": 53.00000190734863,
        "wires": [
            [
                "6320424a.8ee1ec"
            ]
        ]
    },
    {
        "id": "75f23d2c.9422b4",
        "type": "debug",
        "z": "187bae60.f7d6a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 1275.666633605957,
        "y": 610.6666736602783,
        "wires": []
    },
    {
        "id": "febf9af6.6049b8",
        "type": "function",
        "z": "187bae60.f7d6a2",
        "name": "MORNING",
        "func": "msg.payload=\"Good Morning Welcome to baker and grey\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1012.5595855712891,
        "y": 346.4881420135498,
        "wires": [
            [
                "70eda4fe.3256ac"
            ]
        ]
    },
    {
        "id": "1dc056d0.218449",
        "type": "function",
        "z": "187bae60.f7d6a2",
        "name": "MOTION DETECTED",
        "func": "msg.payload=\"MOTION DETECTED\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780.416633605957,
        "y": 516.2500228881836,
        "wires": [
            [
                "70eda4fe.3256ac"
            ]
        ]
    },
    {
        "id": "67571f66.94a1b",
        "type": "switch",
        "z": "187bae60.f7d6a2",
        "name": "Is any object classified?",
        "property": "result.images[0].faces[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 281.6666488647461,
        "y": 227.33337211608887,
        "wires": [
            [
                "234c6c7f.b747e4"
            ],
            [
                "9299bf01.67e2f"
            ]
        ]
    },
    {
        "id": "86711e7c.795b5",
        "type": "time-range-switch",
        "z": "187bae60.f7d6a2",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "9:00",
        "endTime": "11:59",
        "startOffset": 0,
        "endOffset": 0,
        "x": 821.4286651611328,
        "y": 342.1429262161255,
        "wires": [
            [
                "febf9af6.6049b8"
            ],
            [
                "3ff0250e.e71f3a"
            ]
        ]
    },
    {
        "id": "295c2fe3.f317f",
        "type": "function",
        "z": "187bae60.f7d6a2",
        "name": "AFTERNOON",
        "func": "msg.payload=\"Good afternoon Welcome to baker and grey\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1025.000072479248,
        "y": 402.3809356689453,
        "wires": [
            [
                "70eda4fe.3256ac"
            ]
        ]
    },
    {
        "id": "3ff0250e.e71f3a",
        "type": "time-range-switch",
        "z": "187bae60.f7d6a2",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "12:00",
        "endTime": "15:59",
        "startOffset": 0,
        "endOffset": 0,
        "x": 808.8095932006836,
        "y": 397.38091564178467,
        "wires": [
            [
                "295c2fe3.f317f"
            ],
            [
                "5e4d4d22.462354"
            ]
        ]
    },
    {
        "id": "11d351fb.3336de",
        "type": "function",
        "z": "187bae60.f7d6a2",
        "name": "EVENING",
        "func": "msg.payload=\"Good evening Welcome to baker and grey\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1011.1905212402344,
        "y": 470.71428203582764,
        "wires": [
            [
                "70eda4fe.3256ac"
            ]
        ]
    },
    {
        "id": "5e4d4d22.462354",
        "type": "time-range-switch",
        "z": "187bae60.f7d6a2",
        "name": "",
        "lat": "",
        "lon": "",
        "startTime": "16:00",
        "endTime": "18:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 807.380989074707,
        "y": 445.95240116119385,
        "wires": [
            [
                "11d351fb.3336de"
            ],
            []
        ]
    },
    {
        "id": "506ada01.966584",
        "type": "comment",
        "z": "187bae60.f7d6a2",
        "name": "A Person has been seen in the image",
        "info": "",
        "x": 631.6666564941406,
        "y": 255.00000667572021,
        "wires": []
    },
    {
        "id": "70eda4fe.3256ac",
        "type": "play audio",
        "z": "187bae60.f7d6a2",
        "name": "",
        "voice": "4",
        "x": 1253.3333129882812,
        "y": 763.3332824707031,
        "wires": []
    },
    {
        "id": "af50914f.8e2c6",
        "type": "comment",
        "z": "187bae60.f7d6a2",
        "name": "USE YOUR API KEY",
        "info": "",
        "x": 1159.9999999999998,
        "y": 158.33333333333331,
        "wires": []
    }
]
