NODE-RED/face-reco-clipboard
[{"id":"e3efd43c.f91368","type":"exec","z":"22abd194.653d0e","command":"curl \"192.168.1.3:8080/photo.jpg\" >photo.jpg","addpay":false,"append":"","useSpawn":"","timer":"5","oldrc":false,"name":"Save snapshot onto local directory from local ip camera","x":614.2333068847656,"y":51.90476131439209,"wires":[["7e7f0aff.cf0da4"],[],[]]},{"id":"7e7f0aff.cf0da4","type":"file in","z":"22abd194.653d0e","name":"Snapshot obtained from IP-Camera in \"~/.node-red\" directory","filename":"photo.jpg","format":"","sendError":true,"x":1088.4555053710938,"y":55.97221517562866,"wires":[["d657721.dd6cc9"]]},{"id":"d657721.dd6cc9","type":"switch","z":"22abd194.653d0e","name":"Is this a valid photo (It checks the downloaded file from camera running on local IP)","property":"payload[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":618.9000244140625,"y":149.66662216186523,"wires":[["6350319a.47b59"],["58cc899.d4dd278"]]},{"id":"6350319a.47b59","type":"template","z":"22abd194.653d0e","name":"Camera not working","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Camera not working","x":1237.5666580200195,"y":108.99997520446777,"wires":[["fc571732.3c7518"]]},{"id":"58cc899.d4dd278","type":"visual-recognition-v3","z":"22abd194.653d0e","name":"Analyze the image and sends details","apikey":"Uxl-8T0PZOs7n03GLqAh9HB8xtgGHAgslO_sbUM84Tdt","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":1171.6666564941406,"y":156.33329343795776,"wires":[["c582be1a.38316","fc571732.3c7518"]]},{"id":"8f16453.f4f46b8","type":"e-mail","z":"22abd194.653d0e","server":"smtp.gmail.com","port":"465","secure":true,"name":"bakergreyinterns@gmail.com","dname":"Email Service","x":835.1500091552734,"y":685.9524402618408,"wires":[]},{"id":"8d53aaea.254978","type":"file in","z":"22abd194.653d0e","name":"Snapshot photo ","filename":"photo.jpg","format":"","x":359.81668853759766,"y":459.6667594909668,"wires":[["b69d8480.a85c28","8221d1ba.80451"]]},{"id":"6017cc3d.8971c4","type":"file in","z":"22abd194.653d0e","name":"Snapshot photo","filename":"photo.jpg","format":"","x":609.7333526611328,"y":304.7501173019409,"wires":[["54f600e4.611b5","293576d7.9a1a6a"]]},{"id":"54f600e4.611b5","type":"function","z":"22abd194.653d0e","name":"Email-subject: Someone has arrived","func":"\nmsg.topic=\"Someone has arrived\"\nmsg.filename=new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '')+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":685.8166198730469,"y":577.6667108535767,"wires":[["8f16453.f4f46b8"]]},{"id":"b69d8480.a85c28","type":"function","z":"22abd194.653d0e","name":"Email-Subject: Activity is detected","func":"msg.topic=\"Something is moving\"\nmsg.filename=new Date().toISOString().replace(/T/, ' ').replace(/\\..+/, '')+\".jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"x":377.6666717529297,"y":680.0832958221436,"wires":[["8f16453.f4f46b8"]]},{"id":"99089a6f.872438","type":"switch","z":"22abd194.653d0e","name":"Detected motion?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":112.41665649414062,"y":53.33332061767578,"wires":[["511ab06a.0a44f"]]},{"id":"d9746dec.b71a7","type":"rpi-gpio in","z":"22abd194.653d0e","name":"PIR INPUT ON 11","pin":"11","intype":"tri","debounce":"25","read":false,"x":95,"y":120.66665649414062,"wires":[["99089a6f.872438"]]},{"id":"511ab06a.0a44f","type":"delay","z":"22abd194.653d0e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":293.99998474121094,"y":53.00000190734863,"wires":[["e3efd43c.f91368"]]},{"id":"fc571732.3c7518","type":"debug","z":"22abd194.653d0e","name":"","active":true,"tosidebar":true,"console":false,"complete":"true","x":1275.666633605957,"y":610.6666736602783,"wires":[]},{"id":"a6c834bd.e5f698","type":"function","z":"22abd194.653d0e","name":"MORNING","func":"msg.payload=\"Good Morning Welcome to baker and grey\"\nreturn msg;","outputs":1,"noerr":0,"x":1012.5595855712891,"y":346.4881420135498,"wires":[["9324ef01.7b3fc"]]},{"id":"8221d1ba.80451","type":"function","z":"22abd194.653d0e","name":"MOTION DETECTED","func":"msg.payload=\"MOTION DETECTED\"\nreturn msg;","outputs":1,"noerr":0,"x":780.416633605957,"y":516.2500228881836,"wires":[["9324ef01.7b3fc"]]},{"id":"c582be1a.38316","type":"switch","z":"22abd194.653d0e","name":"Is any object classified?","property":"result.images[0].faces[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":281.6666488647461,"y":227.33337211608887,"wires":[["6017cc3d.8971c4"],["8d53aaea.254978"]]},{"id":"293576d7.9a1a6a","type":"time-range-switch","z":"22abd194.653d0e","name":"","lat":"","lon":"","startTime":"9:00","endTime":"11:59","startOffset":0,"endOffset":0,"x":821.4286651611328,"y":342.1429262161255,"wires":[["a6c834bd.e5f698"],["3b3cb4e5.9f542c"]]},{"id":"f34dd9b2.a59b18","type":"function","z":"22abd194.653d0e","name":"AFTERNOON","func":"msg.payload=\"Good afternoon Welcome to baker and grey\"\nreturn msg;","outputs":1,"noerr":0,"x":1025.000072479248,"y":402.3809356689453,"wires":[["9324ef01.7b3fc"]]},{"id":"3b3cb4e5.9f542c","type":"time-range-switch","z":"22abd194.653d0e","name":"","lat":"","lon":"","startTime":"12:00","endTime":"15:59","startOffset":0,"endOffset":0,"x":808.8095932006836,"y":397.38091564178467,"wires":[["f34dd9b2.a59b18"],["1e246bc0.f25564"]]},{"id":"a0521a3d.fc1ef8","type":"function","z":"22abd194.653d0e","name":"EVENING","func":"msg.payload=\"Good evening Welcome to baker and grey\"\nreturn msg;","outputs":1,"noerr":0,"x":1011.1905212402344,"y":470.71428203582764,"wires":[["9324ef01.7b3fc"]]},{"id":"1e246bc0.f25564","type":"time-range-switch","z":"22abd194.653d0e","name":"","lat":"","lon":"","startTime":"16:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":807.380989074707,"y":445.95240116119385,"wires":[["a0521a3d.fc1ef8"],[]]},{"id":"93737ffc.3b6c1","type":"comment","z":"22abd194.653d0e","name":"A Person has been seen in the image","info":"","x":631.6666564941406,"y":255.00000667572021,"wires":[]},{"id":"9324ef01.7b3fc","type":"play audio","z":"22abd194.653d0e","name":"","voice":"4","x":1253.3333129882812,"y":763.3332824707031,"wires":[]}]
